<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552463550352-6cb9gj84ndctihheaeij88i9ttenmmek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552463550352-6cb9gj84ndctihheaeij88i9ttenmmek</string>
	<key>API_KEY</key>
	<string>AIzaSyAUh4LEQrn6xhAib7BjyzNUCzbku6q2Ucc</string>
	<key>GCM_SENDER_ID</key>
	<string>552463550352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAppExampleMy</string>
	<key>PROJECT_ID</key>
	<string>todoapp-ac201</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-ac201.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552463550352:ios:c5582b9e373a78aa335515</string>
</dict>
</plist>